input{
    padding: 2px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
button{
   
    border-radius: 5px;
    background: white;
    cursor: pointer;
}
button:hover{
    background-color: turquoise;

}